.cur_banner {
    background: -webkit-linear-gradient(left,  #fec853 ,#d94d51); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right,  #fec853, #d94d51); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,  #fec853, #d94d51); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right,  #fec853 , #d94d51); /* 标准的语法 */
}
.cur_banner .container {
    margin-top: 150px;
    color: #fff;
}
.cur_banner .lt_1 {
    font-size: 32px;
    line-height: 40px;
    text-space: 5px;
}
.cur_banner .lt_1 h5 {
    width: 100%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}
.list {
    width: 100%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    padding: 40px 0px;
}
.list .title h5 {
    width: 100%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
}
.list .title span {
    width: 100%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
    color: #ccc;
}
.subject_list {
    width: 960px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}
.subject_list li {
    width: 100%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.subject_list li .lt {
    width: 60%;
    float: left;
    overflow: hidden;
}
.subject_list li .rt {
    float: right;
}
.subject_list .lt h5 {
    width: 100%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}
.subject_list .lt p {
    width: 100%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}
.subject_list .lt span {
    font-size: 14px;
    color: #999;
}
.subject_list .rt span {
    overflow: hidden;
    display: block;
    margin: 0 auto;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}
.subject_list .rt span.primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.subject_list .rt span.success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
